@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;500;700&display=swap');
$font-family-sans-serif:'Ubuntu', sans-serif;
@import './node_modules/bootstrap/scss/bootstrap.scss';


//  .test_center{
//   position: absolute;
//   top: 50%;
//   left: 50%;
//  }

.parent {
  border: 1px solid red;

  display: flex;
  align-items: center;
  justify-content: center;
}

.child {
  width: 80%;
  height: 80%;
  background: white;
  
}

.side_bar{
  display:flex;
  min-height: 77vh;
  position: relative;
  background-image: url('/assets/images/bg-sidebar-desktop.svg');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;

}